.main {
    width: 900px;
    height: 1000px;
    margin-right: 40px;
    margin-top: 20px;
}

.title {
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.btn {
    margin-top: 10px;
    text-align: end;
}